.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.carte0 {
    order: 0;
}
.carte1 {
    order: 1;
}

.carte2 {
    order: 2;
}

.carte3 {
    order: 3;
}

.carte4 {
    order: 4;
}

.carte5 {
    order: 5;
}

.carte6 {
    order: 6;
}

.carte7 {
    order: 7;
}

.carte8 {
    order: 8;
}

.carte9 {
    order: 9;
}

.carte10 {
    order: 10;
}

.carte11 {
    order: 11;
}

.carte12 {
    order: 12;
}

.carte13 {
    order: 13;
}

.carte14 {
    order: 14;
}

.carte15 {
    order: 15;
}

.carte16 {
    order: 16;
}

.carte17 {
    order: 17;
}

.carte18 {
    order: 18;
}

.carte19 {
    order: 19;
}

.carte20 {
    order: 20;
}

.carte21 {
    order: 21;
}

.carte22 {
    order: 22;
}

.carte23 {
    order: 23;
}