@font-face {
    font-family: "Ma Super Fonte";
    src: url('belwe\ bold\ bt.ttf');
}

body {
    font-family: "Ma Super Fonte", Helvetica, Arial, sans-serif;
    background-image: url(images/background_menu.png);
    background-size: 100%;
    height: 100vh;
}

h1 {
    font-style: normal;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-left: 20%;
    margin-top: 5%;
    width: 60%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.liensmenu {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    margin-left: 35%;
}

.liensmenu a {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    width: 300px;
    text-decoration: none;
    color: black;
    height: 100%;
}

.liensmenu h1 {
    margin-top: 9%;
    text-align: center;
}

.profil {
    /* background-image: url(images/background_menu.png); */
    background-size: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.elementprofil {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-image: url(images/hearthstone_patch_texture_3.png_0011_Calque-2.png);
    background-repeat: no-repeat;
    background-size: 60%;
    padding: 5%;
    height: 700px;
    width: 1300px;
    text-align: center;
    font-size: 150%;
}

.elementprofil h1 {
    margin-top: -2%;
    font-size: 250%;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.profil a {
    margin-top: -3%;
    margin-left: 20%;
    width: fit-content;
    text-decoration: none;
    color: black;
}

.score {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score a {
    margin-left: 42%;
    width: fit-content;
    text-decoration: none;
    color: black;
}

.top_scoreelement {
    width: 33vw;
    height: 3rem;
    background-image: url(images/top.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.btm_scoreelement {
    width: 33vw;
    height: 4rem;
    background-image: url(images/btm.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.scoreelement {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/mid.png);
    background-size: 100%;
    width: 33vw;
}

.connexionbg {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inscriptionbg {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connexionelement {
    background-image: url(images/hearthstone_patch_texture_3_0003_login.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    width: fit-content;
}

.form {
    background-color: transparent;
    padding: 4rem;
    height: 50vh;
    text-align: center;
}

.inscriptionelement {
    background-image: url(images/hearthstone_patch_texture_3_0003_login.png);
    margin-left: 35%;
    background-repeat: no-repeat;
    background-size: 80%;
    width: fit-content;
    padding: 5%;
    height: 75%;
}

#form_inscription {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-image: url(images/hearthstone_patch_texture_3_0003_login.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    align-items: center;
}

#submit_inscription {
    margin-top: 61%;
    transform: rotate(-3deg);
}

.btn {
    background-image: url(images/hearthstone_patch_texture_3.png_0000_button-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
    height: 80px;
}

#submit_connexion {
    margin-top: 66%;
    transform: rotate(-2deg);
}

.choixdiff {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elementchoixdiff {
    background-image: url(images/hearthstone_patch_texture_3.png_0007_or.png);
    background-repeat: no-repeat;
    background-size: 40%;
    margin-left: 33%;
    height: 40%;
}

.elementchoixdiff h1 {
    margin-top: 2%;
    margin-left: 7.5%;
    color: white;
}

.elementchoixdiff form {
    margin-top: 8%;
    margin-left: 12%;
}

.elementchoixdiff img {
    margin-top: -4%;
}

.buttonconn {
    margin-top: 80%;
    margin-left: 25%;
}

.board {
    background-image: url(../src/background.jpg);
    background-size: cover;
    height: 100vh;
}

.cardback {
    width: 101px;
    height: 149px;
    border: none;
    background-color: transparent;
    background-size: cover;
}

.cardback:hover {
    box-shadow: 0px 0px 21px -1px rgba(73, 150, 201, 1);
    transform: scale(1.1);
}

.cardfront {
    width: 101px;
    height: 149px;
    border: none;
    background-size: cover;
    background-color: transparent;
    background-position: center;
}

.cardfront:hover {
    transform: scale(2.5);
}

.grid {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}

.center {
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBg {
    background-image: url(src/board.jpg);
    background-position: center;
    background-position-y: 31%;
    background-size: 130%;
}

.victory {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

@keyframes victory {
    0% {
        height: 100px;
    }
    100% {
        height: 800px;
    }
}

.victory_anim {
    height: 800px;
    animation: victory 1.5s;
}

.type_texte {
    font-family: "Ma Super Fonte";
    text-align: center;
    background-image: url(images/type_texte.png);
    background-size: cover;
    background-color: transparent;
    background-position: center;
    border: none;
    height: 48px;
    width: 190px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

#title_profil {
    margin-bottom: -1rem;
}

.submit_btn {
    margin-top: 1rem;
    font-family: "Ma Super Fonte";
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 10.7rem;
    height: 3.5rem;
    background-image: url(images/boutton.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    text-align-last: center;
}

#back_score {
    width: fit-content;
    height: fit-content;
}

#wrapper_lvl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

#wrapperform_lvl {
    background-image: url(images/hearthstone_patch_texture_3.png_0007_or.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15rem;
}

#form_lvl {
    position: absolute;
    top: 44%;
}

#back_lvl {
    position: absolute;
    top: 35%;
    left: 40%;
}

#titre_form_lvl {
    color: white;
}

.options_txt {
    margin-left: 1rem;
    text-align: center;
}