* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.flexr {
    display: flex;
    flex-direction: row;
}

.flexc {
    display: flex;
    flex-direction: column;
}

.overflow {
    overflow: visible;
}

main {
    padding-top: 2rem;
}

html {
    background-image: url(../src/board.jpg);
    background-size: cover;
}

.flexr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    width: 90vw;
    height: 90vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    user-select: none;
    width: 100px;
    height: 150px;
    background-image: url("../src/cardback.gif");
    background-position: center;
    background-size: cover;
    border-style: none;
    border-radius: 7px;
    background-color: white;
    outline: none;
}

.grid {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template: auto / repeat(8, 1fr);
    gap: 2rem;
    /* grid-template-areas: 
    "slot1 slot2 slot3 slot4 slot5 slot6 slot7 slot8"
    "slot9 slot10 slot11 slot12 slot13 slot14 slot15 slot16"
    "slot17 slot18 slot19 slot20 slot21 slot22 slot23 slot24"
    ; */
}

.grid div {
    overflow: visible;
}

.input {
    position: absolute;
    top: 32px;
    width: 100px;
    height: 150px;
    z-index: 10;
    background-color: transparent;
    border: none;
    outline: none;
}

.input:hover {
    box-shadow: 0px 0px 19px 2px rgba(126, 240, 255, 0.75);
}

.card-front-1 {
    user-select: none;
    position: relative;
    top: -12px;
    left: -6px;
    width: 115px;
    height: 160px;
    background-image: url("../src/alexstraza.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    outline: none;
    /* transition-delay: 1s; */
    transform: rotateY(180deg);
    /* transition-duration: 2s;     */
}

#carte1 {
    grid-template-areas: "slot1";
}

#carte2 {
    grid-template-areas: "slot2";
}

#carte3 {
    grid-template-areas: "slot3";
}

#carte4 {
    grid-template-areas: "slot4";
}

#carte5 {
    grid-template-areas: "slot5";
}

#carte6 {
    grid-template-areas: "slot6";
}

#carte7 {
    grid-template-areas: "slot7";
}

#carte8 {
    grid-template-areas: "slot8";
}

#carte9 {
    grid-template-areas: "slot9";
}

#carte10 {
    grid-template-areas: "slot10";
}

#carte11 {
    grid-template-areas: "slot11";
}

#carte12 {
    grid-template-areas: "slot12";
}

#carte13 {
    grid-template-areas: "slot13";
}

#carte14 {
    grid-template-areas: "slot14";
}

#carte15 {
    grid-template-areas: "slot15";
}

#carte16 {
    grid-template-areas: "slot16";
}

#carte17 {
    grid-template-areas: "slot17";
}

#carte18 {
    grid-template-areas: "slot18";
}

#carte19 {
    grid-template-areas: "slot19";
}

#carte20 {
    grid-template-areas: "slot20";
}

#carte21 {
    grid-template-areas: "slot21";
}

#carte22 {
    grid-template-areas: "slot22";
}

#carte23 {
    grid-template-areas: "slot23";
}

#carte24 {
    grid-template-areas: "slot24";
}